[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-functions = "==1.2.1"
pymongo = "==3.10.1"
azure-cosmos = "*"

[dev-packages]
isort = "*"
black = "*"

[requires]
python_version = "3.8"
